<h1>Mój profil</h1>
<p>Find me in app/views/user/index.html.erb</p>

<div id="profile">
<div class="container">

  <%= link_to 'Twoi znajomi', friendships_path %>
  <%= link_to 'Wysłane zaproszenia', friendships_requested_friends_path %>
  <%= link_to 'Zablokowani użytkownicy', users_blocked_users_path %>

<%= content_tag :div, class: 'divTableRow', id: dom_id(@user) do %>
  <p>
  <%= render @user %>
  </p>
<% end %>
</div>
</div>


<% current_user.not_friends.sample(5).each do |user| %>
  <table id="add_to_friend">
    <tr>
      <td>  <%= link_to user.email, user_path(user)%> </td>
      <td>  <%= link_to "Dodaj do znajomych", {controller: 'friendships', action: 'create', method: :post, id: user.id, remote: true}, class: "create" %> </td>
    <tr>
  </table>
<% end %>
