<h2>Log in</h2>
<%= stylesheet_link_tag 'sessions', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application' %>
<%= yield :js %>
<!DOCTYPE html>
<html >
<head>



</head>

<body>
  <!--
Follow me on
------------
Codepen: http://codepen.io/mycnlz/
Dribbble: https://dribbble.com/mycnlz
Pinterest: https://pinterest.com/mycnlz/
-->

  <div class='box'>
    <div class='box-form'>
      <div class='box-login-tab'></div>
      <div class='box-login-title'>
        <div class='i i-login'></div><h2>LOGIN</h2>
      </div>
      <div class='box-login'>
        <div class='fieldset-body' id='login_form'>
          <button onclick="openLoginInfo();" class='b b-form i i-more' title='Mais Informações'></button>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <p class='field'>
                <label for='user'>EMAIL</label>
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                <span id='valida' class='i i-warning'></span>
              </p>
        	    <p class='field'>
                <label for='pass'>HASŁO</label>
                <%= f.password_field :password, autocomplete: "current-password" %>
                <span id='valida' class='i i-close'></span>
              </p>
              <label class='checkbox'>
              <input type='checkbox' value='TRUE' title='Keep me Signed in' /> Zapamiętaj mnie
              </label>
              <%= f.submit "Zaloguj" %>
            <% end %>
        </div>
      </div>
    </div>
    <div class='box-info'>
  		<p><button onclick="closeLoginInfo();" class='b b-info i i-left' title='Back to Sign In'></button><h3>Help?</h3>
      </p>
  		<div class='line-wh'></div>
      <button onclick="" class='b-support' title='Forgot Password?'>Zapomniałeś hasła?</button>
      <button onclick="" class='b-support' title='Contact Support'>Support</button>
      <div class='line-wh'></div>
  

    </div>
  </div>
</body>
</html>
