<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<tbody>
  <% @posts.each do |post| %>
    <%= content_tag :div, id: dom_id(post) do %>
      <td><%= post.body %></td>
      <td><%= link_to 'Edit', edit_post_path(post), remote: true %> </td>
      <td><%= link_to 'Show', post %></td>
    <% end %>
<% end %>

<%= link_to 'Back', posts_path %>
</tbody>


<div id="new-post">
  <%= link_to 'New Post', new_post_path, remote: true %>
</div>
