<!DOCTYPE html>


<html>
  <head>
   <script src="http://code.jquery.com/jquery-latest.js"></script>
    <title>Sympatia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application" %>
  </head>

  <div class="container">
    <body>
      <ul class="nav">
        <li id="options">
            <%=link_to image_tag("home_button.png"), authenticated_root_path %>
        </li>
        <li>
            <%= link_to "Mój profil", @user %>
        </li>
        <li>
            <a href="#">Wiadomości</a>
        </li>
        <li>
        </li>

        <li id="settings">
            <a href="#">Ustawienia</a>
            <ul class="subnav">
                <li><a href="#">Moje konto</a></li>
                <li><a href="#">O aplikacji</a></li>
                <li><a href="#">Wyloguj</a></li>
            </ul>
        </li>
      </ul>


      <%= render 'layouts/alerts' %>
      <%= yield %>
    </body>
  </div>
</html>
